In [2]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

## Calculate a Security's Risk

In [4]:
sec_data = pd.read_csv('../1-rate-of-return/4_stocks_1995_2017.csv', index_col='Date')
sec_data.tail()

We take the logarithmic returns because we will examine each company separately in the given time frame

In [7]:
sec_returns = np.log(sec_data / sec_data.shift(1))

Calculate the standard deviation for each stocks

In [14]:
sec_returns[['PG', 'GE']].std() * (250 ** 0.5)

PG    0.226532
GE    0.291113
dtype: float64

## Calculate Covariance of Returns

In [21]:
sec_returns.var() * 250

PG      0.051317
MSFT    0.099582
F       0.159959
GE      0.084747
dtype: float64

In [22]:
sec_returns.cov() * 250

            PG      MSFT         F        GE
PG    0.051317  0.016603  0.020397  0.024194
MSFT  0.016603  0.099582  0.041392  0.039556
F     0.020397  0.041392  0.159959  0.050113
GE    0.024194  0.039556  0.050113  0.084747

## Calculate Correlation of Returns

In [19]:
sec_returns.corr()

            PG      MSFT         F        GE
PG    1.000000  0.232256  0.225131  0.366870
MSFT  0.232256  1.000000  0.327957  0.430587
F     0.225131  0.327957  1.000000  0.430410
GE    0.366870  0.430587  0.430410  1.000000