In [1]:
import pandas as pd
import numpy as np

# Calculating a Security's Risk

In [1]:
import statistics
returns = [50, 50, 50, 50, 50, 50, -30, -30, -30]

stddev = statistics.pstdev(returns)
stddev

37.712361663282536

# Calculate a Portfolio's Risk

In [18]:
data = {
  "P": [0.1, 0.4, 0.3, 0.2],
  "Toyota": [6, 7.5, 2, -3],
  "Pfizer": [2.5, -0.5, 1, 13],
}
df = pd.DataFrame(data)
df

     P  Toyota  Pfizer
0  0.1     6.0     2.5
1  0.4     7.5    -0.5
2  0.3     2.0     1.0
3  0.2    -3.0    13.0

In [17]:
cov =

          Toyota     Pfizer
Toyota  16.30303 -18.000000
Pfizer -18.00000  26.386364

In [5]:
weights = np.array([0.5, 0.5])

In [9]:
portfolio_var = np.dot(weights, np.dot(df.cov(), weights))
portfolio_var ** 0.5

1.3563124025582507

In [15]:
var = 0.1*(6-3.6)**2 + 0.4*(7.5-3.6)**2 + 0.3*(2-3.6)**2 + 0.2*(-3-3.6)**2
var ** 0.5

4.017461885320134

In [14]:
df['Toyota'].var()**0.5

4.234776656841932